body{
		font-size: 100%;
		color:#3d1a1b;
		font-family: 'RobotoSlab-Regular';
	}
	#nav{
  margin-left: 100px;
  margin-right:100px;
}

 
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
a{
	text-decoration: none;
	color:#3d1a1b;
}

img{
	border-radius: 5px;
}
ul {
    display: block;
    /*list-style-type: disc;*/
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

/*header top .....*/
	.header-top{
		margin-top: 10px;
	}

/*Navbar styling */
	#myNavbar{
		margin-left: -2em;
	}
	.navig{
		margin-top: 10px;
		box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.11) ;
			}
	.navbar-default{
		background: transparent;
		border: 0;
	}

	.navbar-default .navbar-nav>li>a{
		color:#3d1a1b;
		font-size: 1.5em;
		padding-left: 1.2em;
	}
	
	/*search bar*/
		.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

		@media (max-width: 768px){
		.navbar-nav{
			background: #f8f8f8;
		}
		.navbar-nav{
			margin-top: 2em;
		}
		.navbar-nav>li>a {
		    padding-top: 1.2em;
		    padding-bottom: 0px;
		    padding-left: 0;   
		}
		.search-bar{
			margin-left: 10%;
			margin-right: -10%;
			position: relative;
		}
		@media (max-width: 481px)
		{
			.search-bar{
				width: 60%;
			}
			.search-bar input[type="submit"]{
				margin-left: -45px;
			}
		}
	}



/*to style the banner*/
	.thumbnail{
		border: none;
		
	}
	.bannerImage{
		max-width: 1140px;
		max-height: 600px;
		

	}
	.banner{
		margin-top: -19px;
	}

	#bannerText{
		margin-top:-60%;
		margin-left: 2%;
		position: relative;
		background: rgba(255, 255, 255, 0.76);
	}
	#bannerText h2{
  		font-size: 15px;
	    border-bottom: 1px solid #190608;
	    color: #190608;
	    padding-bottom: 2px;
	    width: 28%;
	    margin: 0 auto;
	    font-family: 'Raleway-Regular';
  	}
  	#bannerText h1{
	  	 font-size: 1.5em;
	    margin: 20px 0 0 0;
	    color: #190608;
	   margin-bottom: 10px;
	}
	@media(min-width: 300px){
		#bannerText{
			margin-top: -56%;
			margin-left: 25%;
			max-width: 60%;
		}
	}
	
	@media(min-width: 500px){
		#bannerText{
			margin-top: -40%;
			margin-left: 35%;
			max-width: 40%;
		}
	}
	@media(min-width:600px){
		#bannerText{
			margin-top: -40%;
			margin-left: 30%;
		}
	}
	@media(min-width: 1024px){
		#bannerText{
			margin-top: -35%;
			margin-left:33%;
			max-width: 30%;
		}
	}

	.btn-info a{
    	font-size: 13px;
    	margin:0px;
    	text-decoration: none;
    	color:#190608; 

	} 
	
	.btn-info{
		background: #f8f8f8;
		border: none;
	}
	.btn{
		padding: 10px;
	}
	.banner-image>img{
		margin-left: 0;
	}






	/*right side content*/
	@media(max-width: 900px)
	{.heading{
		margin-top: 5%;
	}}
	.heading h3 {
	    color: #fff;
	    background: #190608;
	    padding: 9px 0px;
	    border: 1px solid #190608;
	    font-size: 15px;
	    border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    -o-border-radius: 5px;
	    -ms-border-radius: 5px;
	    width: 65%;
	    margin: 0 auto  ;
	 }
	 .abt-one , .abt-two{
	 	margin-top: 12%;
	 }


	.abt-one p {
    font-size: 13px;
    font-family: 'Raleway-Regular';
    color: #999;
    line-height: 1.8em;
    margin: 3% auto 0;
    width: 80%;
	}
	 .abt-two .top-content {
	 	padding-top: 20px;
	 }
	 .abt-two h4 {
	    font-size: 18px;
	    text-align:left;
	    margin: 0 0 4px 0;
	    color: #3d1a1b;
    }
    .abt-two p {
   	text-align: left;
    font-size: 13px;
    color: #999;
    line-height: 1.8em;
    font-family: 'Raleway-Regular';
    margin-top: 4%;
	}

	@media(max-width: 900px){
		img.icon{
			margin-left: 20%;
			width: 200px;
			height: 200px;
		}
		.col-md-9{
			margin-left: 20%;
			margin-right: 10%;
			width: 70%;
		}
	}
	@media(max-width: 300px){
		img.icon{
			margin-left: 20%;
			width: 100px;
			height: 100px;
		}
		.col-md-9{
			margin-left: 10%;
			margin-right: 10%;
			width: 80%;
		}

	}
	.abt-three ul li {
	    list-style-image: url('../images/dot.png');
	    margin: 12px 0px 5px 30px;
	    text-align: left;
	    
	}
	.abt-three ,.abt-four{
		margin-top: 20px;
	}
	.abt-four>h3{
		margin-bottom: 20px;
	}
	.abt-four form input[type="text"] {
    width: 100%;
    color: #190608;
    outline: none;
    font-size: 13px;
    padding: 8px 10px;
    border: 1px solid #190608;
    -webkit-appearance: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    font-family: 'Raleway-Regular';
	}
	.abt-four form input[type="submit"] {
	    background: #190608;
	    font-family: 'Raleway-Regular';
	    padding: 8px 1em;
	    color: #fff;
	    font-size: 14px;
	    font-weight: 400;
	    display: block;
	    outline: none;
	    border: none;
	    margin-top: 3%;
	    width: 33%;
	    float: right;
	    border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    -o-border-radius: 5px;
	    -ms-border-radius: 5px;
	}

	.abt-three ul li a {
    font-size: 1.5em;
    color: #999;
    font-family: 'Raleway-Regular';
	}

	.abt-three ul {
    padding: 0;
    margin-top: 8%;
	}

	.slider{
		margin-top: 3em;
	}










	/*social media*/

	.navig ul li {
    list-style: none;
    display: inline-block;
    margin: 0 3px;
}


.navig ul li a span {
    background: url('../images/social.png') no-repeat;
    width: 16px;
    height: 16px;
    display: block;
}

.navig ul li a span.fb {
    background-position: 0px 0px;
}
.navig ul li a span.twit {
    background-position: -16px 0px;
}
.navig ul li a span.pin {
    background-position: -32px 0px;
}
.navig ul li a span.rss {
    background-position: -48px 0px;
}
.navig ul li a span.drbl {
    background-position: -64px 0px;
}
@media(min-width: 1024px){
.navig ul.media {
    
   margin-top: -50px;
   margin-bottom: 10px;
   position: relative;
}
}
.navig{
	padding-bottom: 20px;
	margin-bottom: 20px;
}
@media(max-width:900px){
	.navig ul.media {
    
    padding-top: 20px;
   margin-top: -20px;
   margin-bottom: 5px;
   position: relative;
}
}
@media(min-width: 900px)
{
	.navig ul.media{
		margin-right: -100px;
	}
}



.navig ul li a span:hover {
    transform: rotatey(360deg);
    -webkit-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
    -o-transform: rotatey(360deg);
    -ms-transform: rotatey(360deg);
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
/* main body*/
	#mainbody
	{
	margin-left:100px;
	margin-right:100px;
	}
	div.one {
border: 2px solid #6CF ;

}
#small-font
{
Font-size:16px;
}
.vpb_textAreaBoxInputs {min-width:900px; width:auto;height:45px;font-family:Verdana, Geneva, sans-serif; font-size:12px;padding:7px; padding-left:10px; padding-right:10px;border: 1px solid #6CF;outline:none;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius:2px; line-height:20px;

